.desktop1-container {
  min-height: 100vh;
}
.desktop1-desktop1 {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(30, 30, 30, 1);
}
.desktop1-ellipse2 {
  top: -3px;
  right: -19px;
  width: var(--dl-size-size-maxwidth);
  height: var(--dl-size-size-maxwidth);
  position: absolute;
  border-color: transparent;
}
.desktop1-project-name201 {
  top: 192px;
  left: 305px;
  width: 1311px;
  height: 926px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text {
  top: 295px;
  color: rgba(255, 255, 255, 1);
  right: 87px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-rectangle1 {
  top: 0px;
  left: 0px;
  width: 750px;
  height: 1080px;
  position: absolute;
  border-color: transparent;
}
.desktop1-ellipse1 {
  left: -8px;
  width: 780px;
  bottom: -6px;
  height: 780px;
  position: absolute;
  border-color: transparent;
}
.desktop1-project-name211 {
  left: -381px;
  width: 1299px;
  bottom: -33px;
  height: 727px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text02 {
  top: 289px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 80px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text03 {
  color: rgba(255, 255, 255, 1);
}
.desktop1-text05 {
  top: 384px;
  left: 22px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text06 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.desktop1-text07 {
  color: rgba(100, 177, 138, 1);
  font-weight: 700;
}
.desktop1-text08 {
  font-weight: 500;
}
.desktop1-text09 {
  font-weight: 700;
}
.desktop1-text13 {
  font-weight: 500;
}
.desktop1-text17 {
  font-weight: 700;
}
.desktop1-text21 {
  font-weight: 500;
}
.desktop1-text22 {
  font-weight: 700;
}
.desktop1-text26 {
  font-weight: 500;
}
.desktop1-text27 {
  color: rgba(255, 255, 255, 1);
}
.desktop1-airpuro21 {
  top: 20px;
  left: 0px;
  width: 270px;
  height: 270px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle2 {
  top: 700px;
  left: 484px;
  width: 188px;
  height: 55px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-text32 {
  top: 716px;
  left: 503px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-c-s-i-r-indialogo2c-e4323d27seeklogo1 {
  top: 945px;
  left: 10px;
  width: 105px;
  height: 104px;
  position: absolute;
  border-color: transparent;
}
.desktop1-website-logo1 {
  top: 939px;
  left: 135px;
  width: 109px;
  height: 119px;
  position: absolute;
  border-color: transparent;
}
.desktop1-tedxlogo1 {
  top: 976px;
  left: 264px;
  width: 153px;
  height: 45px;
  position: absolute;
  border-color: transparent;
}
.desktop1-logo1 {
  top: 937px;
  left: 439px;
  width: 122px;
  height: 104px;
  position: absolute;
  border-color: transparent;
}
.desktop1-tgelf1 {
  top: 911px;
  left: 585px;
  width: 118px;
  height: 150px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text34 {
  left: 776px;
  color: rgba(255, 255, 255, 1);
  bottom: 89px;
  height: auto;
  position: absolute;
  font-size: 33px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text39 {
  left: 967px;
  color: rgba(255, 255, 255, 1);
  bottom: 30px;
  height: auto;
  position: absolute;
  font-size: 33px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text44 {
  color: rgba(255, 255, 255, 1);
  right: 201px;
  bottom: 89px;
  height: auto;
  position: absolute;
  font-size: 33px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text49 {
  color: rgba(255, 255, 255, 1);
  right: 62px;
  bottom: 34px;
  height: auto;
  position: absolute;
  font-size: 33px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text54 {
  top: 32px;
  left: 1355px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text56 {
  top: 32px;
  left: 1108px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text58 {
  top: 32px;
  left: 928px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
