.desktop1-container {
  min-height: 100vh;
}
.desktop1-desktop1 {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(30, 30, 30, 1);
}
.desktop1-rectangle3 {
  top: 0px;
  left: 960px;
  width: 960px;
  height: 1080px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text {
  top: 262px;
  left: 1065px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-ellipse2 {
  top: -6px;
  right: -2px;
  width: var(--dl-size-size-maxwidth);
  height: var(--dl-size-size-maxwidth);
  position: absolute;
  border-color: transparent;
}
.desktop1-project-name201 {
  top: 176px;
  left: 554px;
  width: 1311px;
  height: 926px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle1 {
  top: 0px;
  left: 0px;
  width: 960px;
  height: 1091px;
  position: absolute;
  border-color: transparent;
}
.desktop1-ellipse1 {
  left: -14px;
  width: 1200px;
  bottom: -16px;
  height: 1200px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text02 {
  top: 273px;
  left: 62px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 80px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text03 {
  color: rgba(255, 255, 255, 1);
}
.desktop1-project-name211 {
  top: 403px;
  left: -469px;
  width: 1299px;
  height: 727px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text05 {
  top: 384px;
  left: 62px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text06 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.desktop1-text07 {
  color: rgba(100, 177, 138, 1);
  font-weight: 700;
}
.desktop1-text08 {
  font-weight: 500;
}
.desktop1-text09 {
  font-weight: 700;
}
.desktop1-text13 {
  font-weight: 500;
}
.desktop1-text17 {
  font-weight: 700;
}
.desktop1-text21 {
  font-weight: 500;
}
.desktop1-text22 {
  font-weight: 700;
}
.desktop1-text26 {
  font-weight: 500;
}
.desktop1-text27 {
  color: rgba(255, 255, 255, 1);
}
.desktop1-airpuro21 {
  top: 20px;
  left: 0px;
  width: 270px;
  height: 270px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle2 {
  top: 701px;
  left: 601px;
  width: 188px;
  height: 55px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.desktop1-text32 {
  top: 716px;
  left: 627px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-c-s-i-r-indialogo2c-e4323d27seeklogo1 {
  top: 944px;
  left: 30px;
  width: 105px;
  height: 104px;
  position: absolute;
  border-color: transparent;
}
.desktop1-website-logo1 {
  top: 937px;
  left: 180px;
  width: 109px;
  height: 119px;
  position: absolute;
  border-color: transparent;
}
.desktop1-tedxlogo1 {
  top: 976px;
  left: 327px;
  width: 153px;
  height: 45px;
  position: absolute;
  border-color: transparent;
}
.desktop1-logo1 {
  top: 937px;
  left: 549px;
  width: 122px;
  height: 104px;
  position: absolute;
  border-color: transparent;
}
.desktop1-tgelf1 {
  top: 914px;
  left: 719px;
  width: 118px;
  height: 150px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text34 {
  top: 906px;
  left: 1007px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 33px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text39 {
  top: 906px;
  left: 1251px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 33px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text44 {
  top: 906px;
  left: 1445px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 33px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text49 {
  top: 906px;
  left: 1714px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 33px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text54 {
  top: 42px;
  left: 1741px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text56 {
  top: 42px;
  left: 1489px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text58 {
  top: 42px;
  left: 1291px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
